@{
    Layout = "~/Views/Shared/Property/_Layout_Property.cshtml";
}

<div id="submit-dialog" title="Edit property - Status">
    <div id="submit-dialog-msg"></div>
</div>

@RenderBody()

@section scripts {
  @RenderSection("scripts", required: false)
}