<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <section name="developmentEnvironmentSection" type="Cloudcre.Utilities.Console.EnvironmentSectionProvider, Cloudcre.Utilities"/>
    <section name="qualityassuranceEnvironmentSection" type="Cloudcre.Utilities.Console.EnvironmentSectionProvider, Cloudcre.Utilities"/>
    <section name="stagingEnvironmentSection" type="Cloudcre.Utilities.Console.EnvironmentSectionProvider, Cloudcre.Utilities"/>
    <section name="productionEnvironmentSection" type="Cloudcre.Utilities.Console.EnvironmentSectionProvider, Cloudcre.Utilities"/>
    <section name="demoEnvironmentSection" type="Cloudcre.Utilities.Console.EnvironmentSectionProvider, Cloudcre.Utilities"/>
  </configSections>
  <appSettings>
  </appSettings>
  <developmentEnvironmentSection>
    <environmentSettings>
      <environmentElement key="LuceneIndexRootDirectory" value="../../../Cloudcre.Web/LuceneIndex"/>
      <environmentElement key="ConnectionString" value="DevelopmentConnectionString"/>
    </environmentSettings>
  </developmentEnvironmentSection>
  <qualityassuranceEnvironmentSection>
    <environmentSettings>
      <environmentElement key="LuceneIndexRootDirectory" value="../../../Cloudcre.Web/LuceneIndex"/>
      <environmentElement key="ConnectionString" value="QualityAssuranceConnectionString"/>
    </environmentSettings>
  </qualityassuranceEnvironmentSection>
  <stagingEnvironmentSection>
    <environmentSettings>
      <environmentElement key="LuceneIndexRootDirectory" value="../../../Cloudcre.Web/LuceneIndex"/>
      <environmentElement key="ConnectionString" value="StagingConnectionString"/>
    </environmentSettings>
  </stagingEnvironmentSection>
  <productionEnvironmentSection>
    <environmentSettings>
      <environmentElement key="LuceneIndexRootDirectory" value="../../../artifacts/publish/LuceneIndex"/>
      <environmentElement key="ConnectionString" value="ProductionConnectionString"/>
    </environmentSettings>
  </productionEnvironmentSection>
  <demoEnvironmentSection>
    <environmentSettings>
      <environmentElement key="LuceneIndexRootDirectory" value="../../../Cloudcre.Web/LuceneIndex"/>
      <environmentElement key="ConnectionString" value="DemoConnectionString"/>
    </environmentSettings>
  </demoEnvironmentSection>
  <log4net>
    <appender name="NHibernateFileLog" type="log4net.Appender.FileAppender">
      <file value="logs/nhibernate.txt"/>
      <appendToFile value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>
    <appender name="NHibernate.SQL" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <logger name="NHibernate.SQL" additivity="false">
      <level value="DEBUG"/>
      <appender-ref ref="NHibernate.SQL"/>
    </logger>
    <logger name="WhitneySalesLogger">
      <level value="INFO"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </logger>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="SystemLog.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n"/>
      </layout>
    </appender>
  </log4net>
  <connectionStrings>
    <add name="DevelopmentConnectionString" connectionString="Data Source=;Database=;User Id=;Password=" providerName="MySql.Data.MySqlClient"/>
    <add name="StagingConnectionString" connectionString="Data Source=;Database=;User Id=;Password=" providerName="MySql.Data.MySqlClient"/>
    <add name="ProductionConnectionString" connectionString="Data Source=;Database=;User Id=;Password=" providerName="MySql.Data.MySqlClient"/>
    <!--<add name="QualityAssuranceConnectionString" connectionString="Data Source=;Database=;User Id=;Password=" providerName="MySql.Data.MySqlClient"/>
    <add name="DemoConnectionString" connectionString="Data Source=;Database=;User Id=;Password=" providerName="MySql.Data.MySqlClient"/>-->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
